@import "tailwindcss";
@plugin "daisyui";
/* Hide scrollbar for WebKit (Chrome, Safari) */
.scroll-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.scroll-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none; /* IE 10+ */
}
